<div class = "table-container">
    <div>
        <label for="filter">Filter: </label>
        <input id="filter" type="text" placeholder="Search by Name" (input)="applyFilter($event)" />
      </div>
<table>
<thead>
<tr>
<th (click) = "sortBy('id')" >ID</th>
<th (click) = "sortBy('name')">Name</th>
<th (click) = "sortBy('username')">Username</th>
<th (click) = "sortBy('email')">Email</th>
<th (click) = "sortBy('phone')">Phone</th>
</tr>
</thead>
<tbody>
<tr *ngFor = "let user of filteredUsers">
<td>{{user.id}}</td>
<td>{{user.name}}</td>
<td>{{user.username}}</td>
<td>{{user.email}}</td>
<td>{{user.phone}}</td>
</tr>
</tbody>
</table>
</div>